body {
    background-color: cadetblue;
}
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}
.flexer {
    height: 300px;
    width: 400px;
    text-align: center;
}
.start {
    background-color: darkblue;
    color: white;
    width: 25px;
    padding: 25px;
    position: relative;
    top: 25px;
}